####################################################
# New file, from the default C++ settings in GitHub Desktop.
# I have no clue if this is necessary.
####################################################

# Auto detect text files and perform LF normalization
* text=auto
